html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-pic {
    background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)),url("/img/poster_6daebe07-1617-405c-abeb-f8e17c992c6e.webp");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}